<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Toy Project</title>
    <link rel="stylesheet" type="text/css" th:href="@{/static/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
    <script th:inline="javascript">
        const BASE_URL = "http://localhost:8080";
    </script>
</head>
<body class="bg-light">
<th:block th:replace="~{fragments/headerFragment::header}"></th:block>

<div class="d-flex justify-content-center py-5">
    <th:block layout:fragment="content"></th:block>
</div>

<!-- javascript module -->
<script th:src="@{/static/js/code.jquery.com_jquery-3.7.1.min.js}"></script>
<script th:src="@{/static/bootstrap/js/bootstrap.js}"></script>
<!-- javascript module -->

<th:block layout:fragment="javascript"></th:block>
</body>
</html>